
#Texte1 , #Texte2 , #Texte3 {
    border: solid 1px green;
    background-color: lightgray;
    margin: 10px;
  
 }  


 #Texte1 {
    padding: 20px;
    height: 100px;
 }

#Texte2 {
    padding: 1.2em;
    width: 50%;
}
    


#Texte3 {
    padding: -30px ;
    width: 200px;
    height: 200px;

    }