body {
    margin: none;
    background-color: blueviolet;
    margin: 20px ;
}


#Texte1 , #Texte2 , #Texte3 {
    background-color: lightgray;
    border: solid 1px green;
    margin: 20px;
}



#Texte1 { 

height: 100px;
padding:20px;
margin:0;
}

#Texte2 {
width:50%;
padding:1.2em;
margin:20px 5px;
}

#Texte3 {
height:200px;
width:200px;
padding:-30px;
margin:auto;
 }